p {
  margin: 20px;
}

/* .open-btn {
  margin: 10px 20px;
  padding: 20px;
  font-size: 2rem;
  flex-wrap: wrap;
} */
.open-btn {
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 10px 20px;
  margin: 10px 10px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #ffffff 0%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.Grid {
  display: grid;
  grid-template-columns: 400px 300px 50px;
  grid-template-rows: 50px 70px 70px 70px 70px 70px 70px;
  grid-gap: 10px;
  justify-content: center;
}

.itemGrid-0 {
  grid-column: 1/4;
  text-align: end;
}

.itemGrid-1 {
  grid-row: 2/8;
}

.itemGrid-2 {
  grid-column: 2/3;
}

.itemGrid-3 {
  grid-column: 2/3;
}

.itemGrid-4 {
  grid-column: 2/3;
}

.itemGrid-5 {
  grid-row: 5/8;
  grid-column: 2/3;
}

.imageClass {
  max-width: 100%;
}

.imageClassLike {
  cursor: pointer;
  max-width: 50px;
  max-height: 50px;
}
