.search_input {
  display: block;
  width: 54%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400px;
  line-height: 1;
  margin-left: 20%;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-csolor 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.Stena {
  text-align: center;
  margin-top: 100px;
}

.open-btn {
  flex-wrap: wrap;
}

.Grid12 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 650px));

  grid-gap: 10px;
  justify-content: center;
}

/* .Open1 {
  grid-column: 1/2;
} */
/* .Open2 {
  grid-column: 2/3;
} */
