.item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background-color: rgb(31, 30, 29);
}

.Pictures1 {
  width: 180px;
  height: 270px;
  border: 8px solid #515151;
  cursor: pointer;
}

.header_h1 {
  background-color: rgb(31, 30, 29);
}
