/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.index {
  margin-left: 115px;
  margin-right: 75px;
  margin-top: 20px;
}
@media (max-width: 652px) {
  .index {
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
  }
}
@media (max-width: 400px) {
  .index {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
  }
}
